In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
path = './AviationData.xlsx'

In [4]:
aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81366 entries, 0 to 81365
Data columns (total 31 columns):
Event Id                  81366 non-null object
Type                      81366 non-null object
Accident #                81366 non-null object
Event Date                81366 non-null object
Location                  81366 non-null object
Country                   81366 non-null object
Latitude                  81366 non-null object
Longitude                 81366 non-null object
Airport Code              81366 non-null object
Airport Name              81366 non-null object
Injury Severity           81366 non-null object
Aircraft Damage           81366 non-null object
Aircraft Category         81366 non-null object
Registration Number       81366 non-null object
Make                      81366 non-null object
Model                     81366 non-null object
Amateur Built             81366 non-null object
Number of Engines         81366 non-null object
Engine Type               81366 non-null object
FAR Description           81366 non-null object
Schedule                  81366 non-null object
Purpose of Flight         81366 non-null object
Air Carrier               81366 non-null object
Total Fatal Injuries      81366 non-null object
Total Serious Injuries    81366 non-null object
Total Minor Injuries      81366 non-null object
Total Uninjured           81366 non-null object
Weather Condition         81366 non-null object
Broad Phase of Flight     81366 non-null object
Report Status             81366 non-null object
Publication Date          81366 non-null object
dtypes: object(31)
memory usage: 19.2+ MB

In [5]:
# corr = aviation_data.corr()
# plt.figure(figsize=(30,20))
# sns.heatmap(corr, linewidth=2, fmt=".2f", annot=True)

In [6]:
# for i in aviation_data:
#     i['Type'] = i['Type'].map({'Accident':1, 'Incident':0}).astype(int)
# aviation_data

In [7]:
# df_aviation = aviation_data.drop[:,'Country','Type','Aircraft Damage', 'Aircraft Category', 'Amateur Build','Number of Engines','Purpose of Flight','Report Status','Injury Severity']
# df_aviation

In [9]:
df_aviation = aviation_data[['Country', 'Type', 'Aircraft Damage', 'Aircraft Category', 'Amateur Built', 'Number of Engines', 'Purpose of Flight','Report Status','Injury Severity']]
df_aviation.head()

,Country,Type,Aircraft Damage,Aircraft Category,Amateur Built,Number of Engines,Purpose of Flight,Report Status,Injury Severity
0,United States,Accident,Substantial,Airplane,Yes,1,Personal,Preliminary,Non-Fatal
1,United States,Accident,Substantial,Airplane,No,1,Instructional,Preliminary,Non-Fatal
2,United States,Accident,Substantial,Airplane,Yes,1,Personal,Preliminary,Non-Fatal
3,United States,Accident,Substantial,Airplane,No,1,Personal,Preliminary,Non-Fatal
4,United States,Accident,Substantial,Airplane,No,1,Instructional,Preliminary,Non-Fatal

In [10]:
writer = pd.ExcelWriter('./df.xlsx')

In [12]:
df_aviation.to_excel(writer,"df")
writer.save()

In [ ]:
country_mapping = {}